body {
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.box {
    flex: 1;
    height: 100%;
}

.box2 {
    flex: 2;
    height: 100%;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}